{% extends "base.html" %}

{% block content %}

<h4>Input URL or upload iCal file</h4>

{% if url_form %}
    <form action="{% url 'ical_post_url' %}" method="post">
    {% csrf_token %}

        {{ url_form }}

    <button type="submit" class="btn btn-small btn-success">Post URL</button>
    </form>
{% endif %}

{% if url_form and file_form %}
or
{% endif %}

{% if file_form %}
    <form action="{% url 'ical_upload_file' %}" method="post" {% if file_form.is_multipart %}enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}

        {{ file_form }}

    <button type="submit" class="btn btn-small btn-success">Upload File</button>
    </form>
{% endif %}

{% endblock %}
