{% extends "base.html" %}

{% block content %}

<h4>Input URL or upload iCal file</h4>

{% if url_form %}
    <form action="{% url 'ical_post_url' %}" method="post">
    {% csrf_token %}
        {% for field in url_form %}
            <div class="control-group {% if field.errors %}error{% endif %} ">
                {{ field.label_tag }}
                <div class="controls">
                    {% if field.errors %}
                    <div class="alert alert-error">{{ field.errors }}</div>
                    {% endif %}
                    {{ field.as_widget }}
                </div>
            </div>
        {% endfor %}
    <button type="submit" class="btn btn-small btn-success">Post URL</button>
    </form>
{% endif %}

{% if url_form and file_form %}
or
{% endif %}

{% if file_form %}
    <form action="{% url 'ical_upload_file' %}" method="post" {% if file_form.is_multipart %}enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
        {% for field in file_form %}
            <div class="control-group {% if field.errors %}error{% endif %} ">
                {{ field.label_tag }}
                <div class="controls">
                    {% if field.errors %}
                    <div class="alert alert-error">{{ field.errors }}</div>
                    {% endif %}
                    {{ field.as_widget }}
                </div>
            </div>
        {% endfor %}
    <button type="submit" class="btn btn-small btn-success">Upload File</button>
    </form>
{% endif %}

{% endblock %}
